
header{
    background: url(../img/w-bg-a.jpg);
    position: relative;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}
.navbar {
   display: inline-flex;
   flex-wrap: nowrap;
}

.logo{
    width: 50px;

}
.navbar-nav{
    justify-content: flex-start;
}
.navbar-nav .dropdown-menu {
    position: absolute ; 
}

.navbar-right{
    float: right;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-body-container {
    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.body{
    margin: auto;
    display: flex;
    max-width: 1280px;
    align-self: center;
    font-family: "Avenir", "Avenir Next", "Roboto", "Arial", sans-serif;
    flex-direction: column;
}


@media (min-width: 960px){

.part1 {
    margin-top: 40px;
    margin-bottom: -70px;
}
}

.part1{
    display: flex;
    position: relative;
    min-height: 240px;
    flex-direction: row;
    justify-content: space-between;
}

.part11{
    text-align: center;
}
.devtext{
    font-size: 18px;
    margin-top: 0;
    text-align: center;
    font-weight: 400;
    white-space: pre-line;
    margin-bottom: 28px;
    margin-right:15px ;

}